{% extends "navbar.html" %}
{% block content %}
    {% if logged_in: %}
        <h1>Edit {{item.title}}:</h1>
        <form action="{{url_for('edit',item_id=item.id)}}" method="POST">
            Title:
            <input type="text" name="title" value="{{item.title}}" required pattern="^[^\s]+.*[^\s]*$"></br>
            Description:
            <input type="text" name="description" value="{{item.description}}" required pattern="^[^\s]+.*[^\s]*$"></br>
            Category:
            <select name="cat_id" required>
                <!-- select the current category for this item -->
                {% for category in categories %}
                    
                    {% if item.category == category %}
                        <option value="{{category.id}}" selected>{{category.name}} </option>
                    {% else %}
                        <option value="{{category.id}}">{{category.name}} </option>
                    {% endif %}
                    
                {% endfor %}
                
            </select>
            <button>Submit</button>

                
        </form>
    {% else %}
        Unauthorized Access
    {% endif %}
{% endblock %}