{% extends "navbar.html" %}
{% block content %}
    {% if logged_in: %}
        <h1>Create a new item:</h1>
        <form action="{{url_for('new')}}" method="POST">
            Title:
            <input type="text" name="title"></br>
            Description:
            <input type="text" name="description"></br>
            Category:
            <select name="category">
                {% for category in categories%}
                    <option value="{{category.id}}"> {{category.name}} </option>
                {% endfor%}
                
            </select>
            <button>Submit</button>
                
        </form>
    {% else %}
        Unauthorized access
    {% endif %}
{% endblock %}